:root {
  --ff-primary: 'Barlow Semi Condensed', sans-serif;
  --gradient-orange: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --gradient-blue: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --gradient-red: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --gradient-cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  --gradient-background: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  --clr-accent-red: hsl(347, 75%, 35%);
  --clr-accent-blue: hsl(229, 64%, 46%);
  --clr-accent-orange: hsl(28, 76%, 44%);
  --clr-neutral-500: hsl(229, 64%, 46%);
  --clr-neutral-700: hsl(229, 25%, 31%);
  --clr-neutral-300: hsl(217, 16%, 45%);
  --clr-neutral-100: hsl(228, 23%, 78%);
  --clr-neutral-50: hsl(0, 0%, 100%);
  --drop-shadow-500: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  background: var(--gradient-background);
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  height: 100dvh;
}

button {
  font-family: var(--ff-primary);
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
