@use 'functions' as f;
@use 'breakpoints' as b;

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  padding: 12px;
  border: 2px solid rgba($color: #fff, $alpha: 0.3);
  border-radius: 5px;
  margin-bottom: 96px;

  @include b.breakpoint(large) {
    padding: 18px 24px;
    border-radius: 15px;
    margin-bottom: 0;
    margin-bottom: 32px;
  }

  &__logo {
    width: 83px;
    height: 48px;

    @include b.breakpoint(large) {
      width: 155px;
      height: 93px;
    }
  }
}

.score-card {
  background-color: var(--clr-neutral-50);
  border-radius: 8px;
  padding: 10px 24px;

  @include b.breakpoint(large) {
    padding: 16px 48px;
  }

  &__title {
    color: var(--clr-neutral-500);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: f.rem(10);
    font-weight: 600;

    @include b.breakpoint(large) {
      font-size: f.rem(16);
    }
  }

  &__number {
    color: var(--clr-neutral-700);
    font-size: f.rem(40);
    font-weight: 700;
    text-align: center;

    @include b.breakpoint(large) {
      font-size: f.rem(64);
    }
  }
}

.btn-primary {
  background-color: var(--clr-neutral-50);
  color: var(--clr-neutral-700);
  font-size: f.rem(16);
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 14px 60px;

  &:hover,
  &:active {
    color: var(--clr-accent-red);
  }
}

.btn-ghost {
  padding: 10px 36px;
  background: none;
  border: 1px solid var(--clr-neutral-50);
  border-radius: 8px;
  color: var(--clr-neutral-50);
  text-transform: uppercase;
  letter-spacing: 2.5px;

  &:hover,
  &:active {
    background-color: var(--clr-neutral-50);
    color: var(--clr-neutral-700);
  }

  @include b.breakpoint(large) {
    align-self: flex-end;
  }
}
