@use 'functions' as f;

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  padding: 12px;
  border: 2px solid rgba($color: #fff, $alpha: 0.3);
  border-radius: 5px;
  margin-bottom: 96px;

  &__logo {
    width: 83px;
    height: 48px;
  }
}

.score-card {
  background-color: var(--clr-neutral-50);
  border-radius: 8px;
  padding: 10px 24px;

  &__title {
    color: var(--clr-neutral-500);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: f.rem(10);
    font-weight: 600;
  }

  &__number {
    color: var(--clr-neutral-700);
    font-size: f.rem(40);
    font-weight: 700;
    text-align: center;
  }
}

.btn-primary {
  background-color: var(--clr-neutral-50);
  color: var(--clr-neutral-700);
  font-size: f.rem(16);
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 14px 60px;

  &:hover,
  &:active {
    color: var(--clr-accent-red);
  }
}

.btn-ghost {
  padding: 10px 36px;
  background: none;
  border: 1px solid var(--clr-neutral-50);
  border-radius: 8px;
  color: var(--clr-neutral-50);
  text-transform: uppercase;
  letter-spacing: 2.5px;

  &:hover,
  &:active {
    background-color: var(--clr-neutral-50);
    color: var(--clr-neutral-700);
  }
}
